@tailwind base;
@tailwind utilities;

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("/rubik-regular.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("/rubik-medium.woff2") format("woff2");
  font-weight: 700;
}

* {
  font-family: "Rubik", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  -webkit-tap-highlight-color: transparent;
  text-wrap: balance;
}

html.dark .aroraSvg {
  fill: #fff;
}
.aroraSvg {
  fill: #222222;
}

body {
  @apply dark:bg-[#222222] dark:text-[#888] text-[#666];
  word-spacing: 0.1rem;
  letter-spacing: -0.015rem;
}

.over-hide {
  overflow: hidden;
}

.heading {
  @apply text-2xl dark:text-white text-black font-bold;
}

.btn {
  @apply font-bold transition dark:text-black dark:hover:text-[#f28c28] dark:hover:bg-[#222222] hover:text-[#f28c28] hover:bg-white text-[#222222]  bg-[#f28c28] border border-[#f28c28] self-start px-3 py-2 rounded-md;
}
.neutral-btn {
  @apply font-bold transition dark:text-[#f28c28] border border-[#666] dark:border-[#f28c28] px-3 py-2 rounded-md;
}

.input_text {
  @apply py-2 px-4 mb-4 w-full transition dark:text-white text-black dark:caret-white/50 font-semibold bg-transparent border border-black/10 rounded-md outline-none dark:border-white/10 dark:focus:border-white focus:border-black dark:placeholder:text-white/50;
}
:root {
  --swiper-pagination-color: #f28c28;
}
.swiper-pagination-progressbar {
  top: unset !important;
  bottom: 0;
}
@media (max-width: 768px) {
  .ulClose {
    @apply -left-full;
  }
  .ulOpen {
    @apply left-0;
  }
}
