@import "tailwindcss";

@font-face {
  font-family: InstrumentSans;
  src: url("/fonts/InstrumentSans-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}

* {
  font-family: InstrumentSans, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}
*::selection {
  @apply bg-black text-white;
}
:root {
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 16;
  --swiper-navigation-top-offset: 30%;
  --swiper-navigation-sides-offset: 0;
}
.swiper-pagination {
  position: unset !important;
  @apply block md:hidden;
}
.swiper-button-prev,
.swiper-button-next {
  padding-inline: 1.5rem;
}

body {
  @apply transition-colors text-black/60 tracking-widest;
}

.highlight {
  @apply text-black;
}

.heading {
  @apply text-[1.35rem] md:text-2xl text-black uppercase;
}
.btn {
  @apply cursor-pointer transition ease-out text-white bg-black border border-black hover:text-black focus-within:text-black focus-within:bg-white hover:bg-white  self-start px-5 py-2 uppercase text-xs;
}
.neutral-btn {
  @apply opacity-70 hover:opacity-100 focus-within:opacity-100 transition ease-out border text-black  px-3 py-2;
}
.input_text {
  @apply py-2 px-3 mb-4 w-full transition ease-out  text-black  bg-transparent border border-black/10 outline-none  focus:border-black;
}

.over-hide {
  overflow: hidden;
}

.swiper-pagination-progressbar {
  top: unset !important;
  bottom: 0;
}

form label {
  display: block;
}

@media (max-width: 768px) {
  .ulClose {
    @apply -left-full;
  }
  .ulOpen {
    @apply left-0;
  }
}
