@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("/rubik-regular.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("/rubik-medium.woff2") format("woff2");
  font-weight: 700;
}

* {
  font-family: "Rubik", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply dark:bg-[#222222] dark:text-white/60 text-black/60;
}

.over-hide {
  overflow: hidden;
}

.heading {
  @apply text-2xl dark:text-white text-black font-bold;
}

.btn {
  @apply text-sm font-bold dark:text-black dark:hover:text-[#f28c28] dark:hover:bg-[#222222] hover:text-[#f28c28] hover:bg-white text-[#222222]  bg-[#f28c28]  transition border border-[#f28c28] self-start px-3 py-2 rounded-md;
}

.input_text {
  @apply py-1 px-2 mb-5 w-full dark:text-white text-black dark:caret-white/50 outline-none font-semibold bg-transparent border-b transition duration-500 dark:border-white/10 dark:focus:border-white focus:border-black dark:placeholder:text-white/50;
}
:root {
  --swiper-pagination-color: #f28c28;
}
.swiper-pagination-progressbar {
  top: unset !important;
  bottom: 0;
}
@media (max-width: 768px) {
  .ulClose {
    @apply -left-full;
  }
  .ulOpen {
    @apply left-0;
  }
}
